{% extends 'base.html' %}

{% block content %}

<div class="container ml-auto">
    <h1>Variants Table</h1>
    <table id="variants_html" class="table-responsive table-striped">
        <thead>
            <tr>
                <th>Source</th>
                <th>Location</th>
                <th>Assembly Name</th>
                <th>End</th>
                <th>Seq Region Name</th>
                <th>Strand</th>
                <th>Allele String</th>
                <th>Start</th>
                <th>Name</th>
                <th>MAF</th>
                <th>Ambiguity</th>
                <th>Var Class</th>
                <th>Synonyms</th>
                <th>Evidence</th>
                <th>Ancestral Allele</th>
                <th>Minor Allele</th>
                <th>Most Severe Consequence</th>
            </tr>
        </thead>
        <tbody>
            {% for variant in variants %}
            <tr>
                <td>{{ variant.source }}</td>
                <td>{{ variant.mappings.0.location }}</td>
                <td>{{ variant.mappings.0.assembly_name }}</td>
                <td>{{ variant.mappings.0.end }}</td>
                <td>{{ variant.mappings.0.seq_region_name }}</td>
                <td>{{ variant.mappings.0.strand }}</td>
                <td>{{ variant.mappings.0.allele_string }}</td>
                <td>{{ variant.mappings.0.start }}</td>
                <td>{{ variant.name }}</td>
                <td>{{ variant.MAF }}</td>
                <td>{{ variant.ambiguity }}</td>
                <td>{{ variant.var_class }}</td>
                <td>{{ variant.synonyms|join:", " }}</td>
                <td>{{ variant.evidence|join:", " }}</td>
                <td>{{ variant.ancestral_allele }}</td>
                <td>{{ variant.minor_allele }}</td>
                <td>{{ variant.most_severe_consequence }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Pagination controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
        {% if variants.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ variants.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
        {% endif %}

        {% for num in variants.paginator.page_range %}
            {% if variants.number == num %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% elif num > variants.number|add:'-3' and num < variants.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
        {% endfor %}

        {% if variants.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{ variants.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
            <li class="page-item">
            <a class="page-link" href="?page={{ variants.paginator.num_pages }}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endblock %}