{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<body>
    <div class="container"><p></p>
        <h1>Variants Table</h1>
        <div>
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h5> Total Variants
                    <div class="icon">
                        <img src="{% static '/table.svg' %}" alt="My image" >
                    </div>
                    </h5>
                </div>
                <div class="card-body">
                    <h2 class="timer count-title count-number" data-to="{{ total_items }}" data-speed="1500" style=""></h2>
                  <p class="card-text"></p>
                </div>
            </div>
        </div>
            <div class="search-form">
                <!-- Search form -->
                <form method="get" action="{% url 'home' %}">
                    <div class="form-group">
                        <label for="search_term1">Search Term:</label>
                        <input type="text" id="search_term1" name="search1" value="{{ request.GET.search }}" class="form-control" placeholder="Enter search term">
                    </div>
                    <div class="form-group">
                        <label for="search_term2">Other Search Term:</label>
                        <input type="text" id="search_term2" name="search2" value="{{ request.GET.search }}" class="form-control" placeholder="Enter search term 2">
                    </div>
                    <div class="form-group">
                        <label for="Chromosome">Chromosome</label>
                        <input type="text" id="chromosome" name="chromosome" value="{{ request.GET.chromosome }}" class="form-control" placeholder="Enter chromosome, i.e. chr1">
                    </div>
                    <div class="form-group">
                        <label for="start_range">Start Range:</label>
                        <input type="number" id="start_range" name="start_range" value="{{ request.GET.start_range }}" class="form-control" placeholder="Enter start range">
                    </div>
                    <div class="form-group">
                        <label for="end_range">End Range:</label>
                        <input type="number" id="end_range" name="end_range" value="{{ request.GET.end_range }}" class="form-control" placeholder="Enter end range">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button><p></p>
                    <!-- <button type="submit" class="btn btn-primary" name="search_range" value="true">Search Range</button> --> <p></p>
                </form>
            </div>
        <div class="table-responsive">
            <table id="variantsTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Source</th>
                        <th>Location</th>
                        <th>Assembly Name</th>
                        <th>End</th>
                        <th>Seq Region Name</th>
                        <th>Strand</th>
                        <th>Allele String</th>
                        <th>Start</th>
                        <th>Name</th>
                        <th>MAF</th>
                        <th>Ambiguity</th>
                        <th>Var Class</th>
                        <th>Synonyms</th>
                        <th>Evidence</th>
                        <th>Ancestral Allele</th>
                        <th>Minor Allele</th>
                        <th>Most Severe Consequence</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for variant in variants %}
                    <tr>
                        <td>{{ variant.source }}</td>
                        <td>{{ variant.mappings.0.location }}</td>
                        <td>{{ variant.mappings.0.assembly_name }}</td>
                        <td>{{ variant.mappings.0.end }}</td>
                        <td>{{ variant.mappings.0.seq_region_name }}</td>
                        <td>{{ variant.mappings.0.strand }}</td>
                        <td>{{ variant.mappings.0.allele_string }}</td>
                        <td>{{ variant.mappings.0.start }}</td>
                        <td>{{ variant.name }}</td>
                        <td>{{ variant.MAF }}</td>
                        <td>{{ variant.ambiguity }}</td>
                        <td>{{ variant.var_class }}</td>
                        <td>{{ variant.synonyms}}</td>
                        <td>{{ variant.evidence}}</td>
                        <td>{{ variant.ancestral_allele }}</td>
                        <td>{{ variant.minor_allele }}</td>
                        <td>{{ variant.most_severe_consequence }}</td>
                        <td>
                            <center>
                                <form action="{% url 'modify_variant' variant.id %}" method="get">
                                    <input type="submit" value="Modify" class="btn btn-info btn-sm"><p></p>
                                </form>
                                </form>
                                <img src="{% static 'loading.gif' %}" style="display: none; width: 35%; height: auto;" class="loading-gif" />
                                <button type="button" class="btn btn-success btn-sm" onclick="getClassification('{{ variant.name }}', this)">
                                    Classify
                                </button><p></p>
                                <form action="{% url 'delete_variant' variant.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this record?');">
                                </form>
                            </center>
                        </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <!-- Pagination controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if current_page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page|add:-1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for num in page_range %}
                    {% if num <= current_page|add:5 and num >= current_page|add:-5 %}
                        <li class="page-item {% if num == current_page %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if current_page < total_pages %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ current_page|add:1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ total_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>



    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Load DataTables -->
    <script type="text/javascript" charset="utf8" 
            src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- Your script to initialize DataTables -->
    <script>
    $(document).ready(function () {
        $('#variantsTable').DataTable({
            "pagingType": "simple_numbers",
            "ordering": true,
            "columnDefs": [ {
                "targets": 0,
                "render": DataTable.render.ellipsis( 17, true )
              } ],
            "scrollCollapse": false,
            "scrollY": '50vh',
            "scrollX": true,
            "info": false,
            "searching": false,
            "order": [[0, "asc"]],
            "responsive": true,
        });
    });
    </script>

    <script>
        function getClassification(variantName, button) {
            // Find the loading GIF image next to the button and show it
            const loadingGif = $(button).siblings('.loading-gif');
            loadingGif.show();

            // Disable the button
            button.disabled = true;

            const url = `https://rest.ensembl.org/vep/human/id/${variantName}?content-type=application/json`;

            $.ajax({
                url: url,
                type: 'GET',
                success: function(response) {
                    // Process the response
                    alert(JSON.stringify(response, null, 2));
                },
                error: function(error) {
                    // Handle any errors here
                    alert('Error retrieving classification: ' + error.statusText);
                },
                complete: function() {
                    // Hide the loading GIF and enable the button again
                    loadingGif.hide();
                    button.disabled = false;
                }
            });
        }
    </script>
    <script>
        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from:            $(this).data('from'),
                        to:              $(this).data('to'),
                        speed:           $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals:        $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof(settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof(settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
          // custom formatting example
          $('.count-number').data('countToOptions', {
            formatter: function (value, options) {
              return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
            }
          });

          // start all the timers
          $('.timer').each(count);

          function count(options) {
            var $this = $(this);
            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
            $this.countTo(options);
          }
        });
    </script>
{% endblock %}
</body>
</html>
