{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visual Summary</title>
    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width:50%; height:50%; margin:auto;">
        <canvas id="variantChart"></canvas>
    </div>

    <script>
        const ctx = document.getElementById('variantChart').getContext('2d');
        const labels = {{ labels|safe }};
        const dataValues = {{ counts|safe }};

        function getRandomColor() {
            const r = Math.floor(Math.random() * 255);
            const g = Math.floor(Math.random() * 255);
            const b = Math.floor(Math.random() * 255);
            return `rgba(${r}, ${g}, ${b}, 0.5)`;
        }

        const backgroundColors = labels.map(() => getRandomColor());
        const borderColors = backgroundColors.map(color => color.replace('0.5', '1'));

        const data = {
            labels: labels,
            datasets: [{
                label: 'Number of variants',
                data: dataValues,
                backgroundColor: backgroundColors,
                borderColor: borderColors,
                borderWidth: 1
            }]
        };

        const variantChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: true,
                        text: 'Variant Type Summary'
                    }
                }
            },
        });
    </script>
{% endblock %}
</body>
</html>
